.cardAuto_components {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
  width:300px;
  min-height: 300px;
  max-height: fit-content;
  border: 2px solid rgb(5, 36, 42);
  padding: 30px;
  border-radius: 6px;
  background-color: rgb(227, 237, 237);
}
.card_title {
  font-size: 26px;
  color: rgb(18, 109, 162);
  font-weight: bold;
}

.card_info {
  font-size: 24px;
  color: black;
}